/**
 * visuals.css
 *
 * this file contains styles for all visual styling (e.g. fonts, colors, borders, shadows, etc.)
 */


/* ==========================================================================
   Fonts & line-height
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900,900italic');

body {
  font-family: 'Lato', sans-serif;
}

/* font colors
   ========================================================================== */

.v-font-white {
  color: #FFF;
}

.v-font-white-50 {
  color: hsla(0, 0%, 100%, .5);
}

.v-font-white-20 {
  color: hsla(0, 0%, 100%, .2);
}

.v-font-gray {
  color: #555459;
}

/* font styling
   ========================================================================== */

.v-fontweight-light {
  font-weight: 300;
}

.v-fontweight-normal {
  font-weight: 400;
}

.v-fontweight-bold {
  font-weight: 700;
}

.v-fontweight-extrabold {
  font-weight: 900;
}

.v-font-uppercase {
  text-transform: uppercase;
}

/* font sizing
   ========================================================================== */

.v-text-1 {
  font-size: 1.4rem;
}

.v-text-2 {
  font-size: 1.125rem;
}

.v-text-3 {
  font-size: 1rem;
}

.v-text-4 {
  font-size: .9rem;
}

.v-text-5 {
  font-size: .8rem;
}

/* line-heights
   ========================================================================== */

/* not totally happy with this naming because wile it follows the convention of the font-sizing naming,
   it isn't as immediately readable */
.v-lineheight-1 {
  line-height: 1.5rem;
}

.v-lineheight-2 {
  line-height: 1.25rem;
}

.v-lineheight-3 {
  line-height: 1rem;
}


/* ==========================================================================
   Background colors
   ========================================================================== */

.v-bg-white {
  background-color: #FFF;
}

.v-bg-darkgray {
  background-color: #333;
}

.v-bg-aubergine {
  background-color: #4D394B;
}

/* ==========================================================================
   Borders
   ========================================================================== */

.v-border-top {
  border-top: 1px solid #ccc;
}

.v-bordercolor-lightgray {
  border-color: #e8e8e8;
}

.v-borderradius-1 {
  border-radius: 4px;
}

/* ==========================================================================
   List styling
   ========================================================================== */

.v-list-bulletless {
  list-style: none;
}

/* ==========================================================================
   Shadows
   ========================================================================== */

.v-boxshadow-inset-1 {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

/* ==========================================================================
   Loading spinner
   ========================================================================== */
.v-spinner:before,
.v-spinner:after,
.v-spinner {
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.64s infinite ease-in-out;
  animation: load7 1.64s infinite ease-in-out;
}
.v-spinner {
  font-size: .9rem;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.v-spinner:before {
  left: -1.5rem;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.v-spinner:after {
  left: 1.5rem;
}
.v-spinner:before,
.v-spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  100% {
    box-shadow: 0 1rem 0 -.5rem #CCC;
  }
  50% {
    box-shadow: 0 1rem 0 0 #CCC;
  }
}
@keyframes load7 {
  0%,
  100% {
    box-shadow: 0 1rem 0 -.5rem #CCC;
  }
  50% {
    box-shadow: 0 1rem 0 0 #CCC;
  }